    </div>
    <div id="footer">
      <div id="footer_right">
        <span>
          <a href="mailto:jeanjoeris@gmail.com" target="_blank"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Email-icon.png"></a>
        </span>
        <span>
          <a href="http://github.com/jeanjoeris/" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png"/></a>
        </span>
        <span>
          <a href="https://twitter.com/Jean_Joeris" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png"/></a>
        </span>
      </div>
      <div id="footer_left">

      </div>
    </div>
  </body>
</html>
